<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>불법주정차 단속지도</title>

</head>
<body>
<div id="map" style="width:100%;height:100vh;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=73ee2daa8a2f08a67b2cef672ba6b1f6&libraries=clusterer"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(35.9027534, 128.5867517), // 지도의 중심좌표
            level: 6 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다




    // 마커 클러스터러를 생성합니다
    // var clusterer = new kakao.maps.MarkerClusterer({
    //     map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체
    //     averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정
    //     minLevel: 10 // 클러스터 할 최소 지도 레벨
    // });

    var markers = [];

    var test = {ilList};

    for (var i = 0; i < test.length; i++) {

        var iwContent = '<div style="padding:5px; width:100%;">대구광역시 북구 복현동 623<br>500건</br></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwPosition = new kakao.maps.LatLng(test[i]['long'], test[i]['lat']); //인포윈도우 표시 위치입니다
            // iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다

        // 지도에 마커를 생성하고 표시한다
        var marker = new kakao.maps.Marker({
            position: iwPosition, // 마커의 좌표
            map: map // 마커를 표시할 지도 객체
        });

        // 인포윈도우를 생성하고 지도에 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: iwContent,
        });

        markers.push(marker);

        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
    }

    // 클러스터러에 마커들을 추가합니다
    clusterer.addMarkers(markers);

    // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
    function makeOverListener(map, marker, infowindow) {
        return function () {
            infowindow.open(map, marker);
        };
    }

    // 인포윈도우를 닫는 클로저를 만드는 함수입니다
    function makeOutListener(infowindow) {
        return function () {
            infowindow.close();
        };
    }


    // 아래 코드는 인포윈도우를 지도에서 제거합니다
    // infowindow.close();
</script>
</body>
</html>