<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>test</title>
    <script
            type="text/javascript"
            src="//code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


</head>
<body>
<script>
    $(function () {
        console.log("start")
        $.ajax({
            type: 'post',
            dataType: 'json',
            url: 'http://localhost/PycharmProjects/Deagu_parking/templates/getNonParking.php',
            success: function (data) {
                console.log(data);
            },
            error: function (request, status, error) {
                console.log('code: ' + request.status + "\n" + 'message: ' + request.responseText + "\n" + 'error: ' + error);
            }
        });
    });
</script>

</body>
</html>